/*top nav*/

.navlist{
  font-size: 32px;

}

nav ul li {
    transition: background-color .3s;
    float: left;
}

a.brand-logo{
   font-size: 34px;
    padding: 10px 0px 4px 8px;
    margin: 0 0 0 1%;
}


/*BODY*/
body{
 background-color: lightgrey;
}

#parentwrap { vertical-align:top; }

/*ul.cols2 {
    columns: 3;
    width: 2400px;
    list-style-type: none;
    margin-left: 500px;
    font-size: 70px
  }*/

nav{
    background-color: #66f;
}

.form-control{
      background-color: rgb(250, 255, 189);
    background-image: none;
    color: rgb(0, 0, 0);
}

.left-login {
  display: inline-block;
  float: left;
}

.right-login {
  display: inline-block;
  margin: 0 0 0 25px;
}

.categoryNote {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: 8%;
}

.follow-coins {
  width: 50%;
  float: left;
  color:red;
}
#bitTitle {
  margin-top: 5%;
}
#bitTitle h2 {
  text-align: center;
  margin-top: 0;
}

.signup-left {
    margin-top: 250px;
    float: left;
    width: 800px;
}

.loginDiv {
  display: inline-flex;
}

.loginTitle {
  font-size: 46px;
}

.loginbtn {
  margin-top: 40px;
  margin-left: 20px;
}

.btn-create {
    padding: 10px 170px 40px 170px;
    margin: 20px 0 0px 0;
}
.input-coins{
    font-size: 70px;
    text-align: center;
}

[type="checkbox"]+label {
    padding-left: 24px;
    padding-right: 55px;
  }
/*ul li{
    float: left;
    width: 50%;//helps to determine number of columns, for instance 33.3% displays 3 columns
}*/


ul{
    list-style-type: disc;
}

input[type=checkbox] {
    transform: scale(4);
    -ms-transform: scale(4);
    -webkit-transform: scale(4);
    padding: 5px;
}

.alt-dropdown {
    padding: 5px 14px 5px 14px;
    margin: 0 0 0 1%;

}
.altDisplay{
  height: 80px;
    width: 190px;
    color: #66f;
    padding: 0px 10px 11px 10px;
    margin: 11% 2% 0 3.5%;
    display: inline-flex;
    text-align: center;
    font-size: 12px;
    border-radius: 26px;
    background-color: lightgrey;
    border: 4px solid grey;
}

.alert-menu {
  background-color: white;
  border: 10px solid #66f;
}

.mySelect {
  width: 500;
  height: 500;
  background-color: black;
}

#ticker p {
      position:absolute;
      text-align: center;
      width: 12%;
}

.displayGroup h2 {
text-align: center;
    width: 56%;
    position: absolute;
    font-size: 48px;
    top: 17%;
}

.categoryNote h2 {
  margin-top: 10%;
}

h1 {
      text-align: center;
      font-size: 4rem;
}

.altDisplay h2 {
        position: absolute;
    width: 14%;
    font-size: 18px;
    margin-top: 4%;
}

.altHeight {
  margin-top: 6%;
  margin-bottom: 0;
}

ul#notifcationList {
    width: 600px;
    height: 200px;
    border: 6px solid #66f;
    background-color: white;
    margin-top: 0px;

}
.row{
      margin-top: 1%;
}

.alert-notes {
  color: grey;
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  margin-top: 3%;
}
.displayGroup {
  width: 56%;
  height: 700px;
  background-color: white;
  margin: 0 auto 40px auto;
  border-right: 20px solid #66f;
  border-left: 20px solid #66f;
  border-bottom: 20px solid #66f;
}
.sendbtn {
      width: 145px;
    height: 28px;
    margin: 0;
    font-size: 11px;
    margin-top: 2%;
    display: inline-block;
}
.sendcol {
  width: 100%;
}
.displayGroupLogged {
   width: 812px;
    height: 350px;
    background-color: white;
    margin: 2% auto 40px 35%;
    border: 20px solid #66f;
}
.cnPrice {
  margin-left: 30%;
}

.cnVolume {
  margin-left: 9%;
}

.cnChange {
  margin-left: 20%;
}
.formGroup {
      width: 500px;

}

.welcome {
  color: white;
    display: inline-block;
    margin: .85% 0 0 25%;
    padding-top: 0%;
    position: absolute;
    font-size: 2rem;
}

ul#navMobile {
  position: absolute;
    top: 15%;
    right: 2%;
}

/*dropdown button*/
a.dropdown-button.btn {
  padding: 1% 2% 1% 2%;
  margin: 1% 2% 1% 2%;
  }

.altNav {
    background-color: #66f;
    width: 15%;
    position: absolute;
    border-radius: 13%;
    padding-bottom: 1.5%;
}
.altNav li {
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 30px;
    color: white;
}


.table-of-contents {
  margin-left: 9%;
  font-size: 40px;
}
/*Sign Up HTML Page*/

.container{
    background-color: white;
    border: 10px solid #66f;
    padding: 50px;
  }

  ul {
    list-style-type: disc;
  }
li {
  list-style-type: disc;
}

.
/*///////----Notification Page ----------/////////*/
.not-form {
    background-color: white;
    border: 7px solid #66f;
  }
