<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>BitCoin Ticker</title>
  <script src="/scripts/jquery.js"></script>
<script src="/scripts/main.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
<!-- Compiled and minified CSS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<!-- My CSS Page -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</head>
<body>


{{^logged_in}}

<header>
<nav>
  <div class="nav-wrapper">
  <a href="#" class="brand-logo">AltCoin Tracker</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <!--   <li><a href="#" class="navlist">Alerts</a></li>
      <li><a href="/exchanges" class="navlist">Exchanges</a></li> -->
      <li><a href="/login" class="navlist">Log In</a></li>
      <li><a href="/signup" class="navlist">Sign Up</a></li>
    </ul>
  </div>
</nav>

</header>
